@page "/"  
@inherits AuthGuardHeader  
@using ExpenseTrackerNet.Client.Services  
@inject ExpenseTrackerNet.Client.Services.IAnalyticService AnalyticService  
@inject IJSRuntime JS  

<PageTitle>Home</PageTitle>  

<Toaster @ref="toaster" />  
<div class="d-flex justify-content-between mb-4">  
    <h3>Dashboard</h3>  
</div>  

<div class="d-flex flex-column gap-4">
    <DashboardCard income="@analyticResult.TotalIncome" expense="@analyticResult.TotalExpense" totalTrx="@analyticResult.TransactionCount" isLoading="@isLoading" />
    <div class="row g-4">
        <div class="col-12 col-md-6">
            <BalanceChart last6month="@analyticResult?.Last6MonthsBalance" />
        </div>
        <div class="col-12 col-md-6">
            <IncomeExpenseChart income="@analyticResult?.Last6MonthsIncome" expense="@analyticResult?.Last6MonthsExpense" />
        </div>
    </div>
    <TotalExpenseChart TotalExpense="@analyticResult?.ExpenseByCategory" />
</div>

@code {
    private Toaster? toaster;  
    private AnalyticResultDTO analyticResult = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        if (!await EnsureAuthenticatedAsync())
            return;

        try
        {
            analyticResult = await AnalyticService.GetAnalyticsAsync();
            isLoading = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            toaster?.ShowMessage(ToastType.Danger, "Failed to load analytics data.");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }
}